*
{
    margin: 0;
}
body
{
    background-color: aqua;
    background-image: url('../img/tokyo.jpg');
    background-size: cover;
    font-size: larger;
}
h1
{
    color: blue;
    font-family: 'Japanese';
}
h1, p
{
    color: yellow;
}
@font-face {
    font-family: 'Japanese';
    src: url('../fonts/Japanese.ttf');
    font-weight: bold;
}