/* Reset y estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 2000px; /* Altura simulada para permitir el scroll */
  }
  
  /* Estilos de la barra de navegación */
  .navbar {
    background-color: #333;
    padding: 20px;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  